@tailwind base;
@tailwind components;
@tailwind utilities;
.seo-hidden {
  position: absolute;
  left: -9999px;
  width: 0px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}